<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="WCF_Chat.ServiceChat">
				<endpoint address="" binding="wsDualHttpBinding" contract="WCF_Chat.IServiceChat"/>
				<endpoint address="" binding="netTcpBinding" contract="WCF_Chat.IServiceChat"/>
				<!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/ServiceChat" />
						<add baseAddress="net.tcp://localhost:8099/ServiceChat"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<bindings>
			<wsDualHttpBinding>
				<binding openTimeout="00:00:30"/>
			</wsDualHttpBinding>
			<netTcpBinding>
				<binding closeTimeout="00:00:15"/>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="True"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>